{% extends "admin/base_site.html" %}

{% block title %}Select a winner{% endblock %}

{% block content %}
<html lang="en">
    <h1 id="select_title">Click the wheel to select a winner for {{ month }}</h1>
    <head>
        <meta charset="utf-8">
        <script src="{{STATIC_URL}}javascript/raphael.js"></script>
	  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <script src="{{STATIC_URL}}javascript/pie.js"></script>
	<script type="text/javascript">
	$(document).ready( function() {
		$('#holder').click( function() {
			var rotation = Math.random() * 360 * 12 + 720;
			var cssRotate = "rotate(" + rotation + "deg)";
			$(this).css( '-webkit-transform', cssRotate );
		});
	})
    $.ajax({
        type: 'GET',
        url: '/ajax/workouts/',
        success: function(data) {
            draw_legend(data.users);
        }
    });
    function draw_legend(names) {
        var canvas = Raphael(0, 100, 500, names.length*55);
        var start = 0;
        var y = 10;
        for (i = 0; i < names.length; i++)
        {
            var bcolor = Raphael.hsb(start, 1, 1);
            var color = Raphael.hsb(start, .75, 1);
            var rect = canvas.rect(10, y, 40, 40, 5).attr({"fill":"90-"+bcolor+"-"+color,"stroke":bcolor});
	    var text = canvas.text(250, y + 20, names[i].email).attr({"fill": bcolor, "font-size": 30});
            start += .1;
            y += 50;
         }
    }
	</script>
        <style media="screen">
            #holder {
                margin: 0px 0 -25px 600px;
                width: 700px;
                height: 700px;
		        -moz-transition: all 15s ease-in-out;
		        -webkit-transition: all 15s ease-in-out;
		        -o-transition: all 15s ease-in-out;
		        -ms-transition: all 15s ease-in-out;
		        transition: all 15s ease-in-out;
            }
	    #fanatiguy {
		margin: -300px 0 0 50px;
	    }
        </style>
    </head>
    <body>
        <table>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{user.email}}</th>
                    <td>{{user.percent}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="holder"></div>
        <img id="fanatiguy" src="{{ STATIC_URL }}/images/fanatiguy.png" style="" alt="" />
    </body>
</html>
{% endblock %}


