{% extends "admin/base_site.html" %}

{% block content %}
<html lang="en">
    <h1> Hover to select a winner! </h1>
    <head>
        <meta charset="utf-8">
        <title>Raphaël · Pie Chart</title>
        <link rel="stylesheet" href="demo.css"media="screen">
        <link rel="stylesheet" href="demo-print.css"media="print">
        <script src="{{STATIC_URL}}javascript/raphael.js"></script>
        <script src="{{STATIC_URL}}javascript/jquery.js"></script>
        <script src="{{STATIC_URL}}javascript/pie.js"></script>
	<script type="text/javascript">
	$(document).ready( function() {
		$('svg').click( function() {
			var rotation = Math.random() * 360 * 12 + 720;
			var cssRotate = "rotate(" + rotation + "deg)";
			$(this).css( '-webkit-transform', cssRotate );
		});
	})
	</script>
        <style media="screen">
            #holder {
                margin: 50px 0 0 300px;
                width: 1000px;
                height: 1000px;
		-moz-transition: all 15s ease-in-out;
		-webkit-transition: all 15s ease-in-out;
		-o-transition: all 15s ease-in-out;
		-ms-transition: all 15s ease-in-out;
		transition: all 15s ease-in-out;
		
            }
        </style>
    </head>
    <body>
        <table>
            <tbody>
            {% for entry in list %}
                <tr>
                  <th scope="row">{{ entry.1 }}</th>
                  <td>{{ entry.0 }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <div id="holder" style="width: 300px; height: 400px; position: relative; left: 300px; top: 50px;"></div>
        <img src="{{ STATIC_URL }}/images/fanatiguy.png" style="" alt="" />
    </body>
</html>
{% endblock %}


