<!DOCTYPE html>
<html>
<head>
    <title>RackerTrackerX</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-responsive.css"/>
{% block javascript %} {%endblock%}
</head>
<body>
    <div id="tracker_title">
        <img src="{{ STATIC_URL }}images/title.png" alt="RackerTracker"/>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
